.container-team{
    padding: 50px;
    display: flex;
    align-items: center;
    background-color: #F3F3F3;
}
.container-info-team{
    padding: 10px;
    width:30%;
}
.title-team{
    font-family: 'Playball', cursive;
    font-size: 40px;
    font-weight: bold;
    color: rgb(100,100,100);
}
.subtitle-team{
    color: rgb(249,87,56);
}
.swiper-tem {
    width: 100%;
    height: 100%;
}
.swiper-slide-tem {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide-tem img {
    display: block;
    width: 300px;
    height: 50vh;
    object-fit: cover;
}
.ss{
    background-color: aquamarine;
}
.sss{
    background-color: blueviolet;
    z-index: 55555555555;
}