footer {
    background-color: black;
    text-align: center;
    padding: 160px ;
}
footer h4{
    color: #ffff;
    font-size: 45px;
    font-family: 'Playball', cursive;
}
footer p{
    color: #F95738;
}
footer ul{
    display: flex;
    justify-content: center;
} 
footer ul li{
    margin-right:12px ;
}
.icon-footer{
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
}
@media(max-width:620px){
    footer {
        padding: 130px 0;
    }
}